#description {
  font-family: Helvetica;
  color: rgb(50, 50, 50);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#description li {
  padding-bottom: 10px;
  line-height: 1.3;
}

#description ul {
  padding-left: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}
