.wrapper-for-outer-flexbox {
  width: 92%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.description-and-tool {
  display: grid;
  grid-gap: 20px;
  max-width: 900px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 500px) {
  .wrapper-for-outer-flexbox {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
  }
}
